body{
    background: #3a6186;
    background: -webkit-linear-gradient(to top, #3a6186, #89253e);
    background: linear-gradient(to top, #3a6186, #89253e);
}
.container {
    padding: 0.6rem;
    border-radius: 20px;
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(0, 0, 0, 0.5);
}

#display {
    background-color: rgb(231, 231, 185);
    color: #2d2d2d;
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    border-radius: 20px;
    margin-bottom: 5px;
}

.buttons {
    display: grid;
    border: 1px solid #999;
    border-radius: 20px;
    /* border-left: 1px solid#999; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0.2rem;
}

.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid#999;
}

.button {
    border: 0.5px solid rgb(56, 56, 56);
    border-radius: 20px;
    background-color: #2d2d2d;
    color: wheat;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    margin: 0.2rem;
    cursor: pointer;
}

#equal {
    background-color: rgb(218, 198, 70);
    color: #2d2d2d;
    font-weight: bold;
}
#equal:hover{
    background-color: rgb(204, 182, 37);

}

.button:hover {
    background-color: #434343;
    transition: 0.5s ease-in-out;
}
.light{
    background-color: #434343;
}
.light:hover{
    background-color: #2d2d2d;
    transition: 0.5s ease-in-out;
}